<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

<!--    <form class="form-signin" method="post" action="/login">-->
<!--        <div style="margin-bottom: 25px" class="input-group">-->

<!--            <label for="username" class="sr-only">Username</label>-->
<!--            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">-->

<!--            <label for="password" class="sr-only">Password</label>-->
<!--            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">-->

<!--            <label  for="remember-me" class="sr-only">Remember me</label>-->
<!--            <input type="checkbox" id="remember-me" name="remember-me" class="form-control">-->

<!--            <button class="btn btn-lg btn-primary" type="submit">Войти</button>-->

<!--        </div>-->
<!--    </form>-->

    <form th:action="@{/products}" method="get" class="form-horizontal">

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:value="${word != null} ? ${word}" name="word" placeholder="Поиск по названию" class="form-control"/>
            <input th:value="${minPrice != null} ? ${minPrice}" name="minPrice" placeholder="Минимальная цена" class="form-control"/>
            <input th:value="${maxPrice != null} ? ${maxPrice}" name="maxPrice" placeholder="Максимальная цена" class="form-control"/>
            <button type="submit" class="btn btn-primary">Фильтровать</button>
        </div>

    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Просмотр</th>
            <th>Редакция</th>
            <th>Удаление</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.title}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть"/>
            </td>
            <td>
                <a th:href="@{'/products/edit/' + ${product.id}}" th:text="Редакрировать"/>
            </td>
            <td>
                <a th:href="@{'/products/delete/' + ${product.id}}" th:text="Удалить"/>
            </td>
        </tr>
        </tbody>
    </table>

    <p><span th:text="${'Всего товаров ' + products.size()}"></span></p>
    <p><a th:href="@{/products/add}">Добавитсь товар</a></p>
    <p><a th:href="@{/logout}">Разлогинить себя</a></p>

</div>
</body>
</html>